* {
    padding:            0;
    margin:             0;
    box-sizing:         border-box;
    font-family:        'Inter', sans-serif;
}

/*  Estilização da Navbar e do Header*/

.navbar {
    width:              100%;
    height:             4.75rem;
    background-color: #33B667;
    color:            #fff;
    display:            flex;
    align-items:        center;
    justify-content:    center;
    font-size:          1.5rem;
    font-weight:        bold;
}

p img {
    height:             1.2rem;
    width:              1.2rem;
}

header .title {
    display:            flex;
    align-items:        center;
    justify-content:    center;
    margin:             2rem 2rem;
    text-align:         center;
    font-size:          1rem;
}

/*  Estilização do main e do Card */

main {
    display:            flex;
    align-items:        center;
    justify-content:    center;
}

.card-container {
    width:              21.25rem;
    height:             24.625rem;
    margin-top:         2rem;
    border:             1px solid #ddd;
    border-radius:      10px;
    display:            flex;
    flex-direction:     column;
    align-items:        center;
    gap:                2rem;
}

.card-container__navigation {
    width:              100%;
    margin-top:         1.5rem;
    display:            flex;
    align-items:        center;
    justify-content:    center;
}

.card-container__navigation .next,
.card-container__navigation .back {
    height:             2rem;
    width:              2rem;
    margin:             0 1rem;
    padding-bottom:     2px;
    border-radius:      5px;
    display:            flex;
    align-items:        center;
    justify-content:    center;
    font-weight:        bolder;
    background-color: #33B667;
    color:            #fff;
}

.card-container__navigation .rodada {
    display:            flex;
    flex-direction:     column;
    align-items:        center;
    justify-content:    center;
}

.card-container__navigation .rodada h2 {
    font-size:          0.8rem;
    margin:             0 2rem;
}

.card-container__navigation .rodada p {
    text-transform:     uppercase;
    font-size:          0.7rem;
}

/* Estilização das partidas */
.card-container__matches {
    width:              20rem;
    height:             18rem;
    display:            flex;
    flex-direction:     column;
    align-items:        center;
    justify-content:    center;
}

.card-container__matches .matches {
    display:            flex;
    align-items:        center;
    justify-content:    center;
    border-bottom:      1px solid #ddd;
}

.card-container__matches .matches .placar {
    margin:             0 1rem;
    display:            flex;
    align-items:        center;
    justify-content:    center;
    gap:                5px;
}

.card-container__matches .matches .versus {
    color:            #d1d1d1;
}

.card-container__matches .matches .time {
    display:            flex;
    align-items:        center;
    justify-content:    center;
    margin:             0 1rem;
    font-size:          0.6rem;
}

.card-container__matches .matches .time img {
    width:              2.5rem;
    height:             2.5rem;
    margin:             0.5rem 0.5rem;
}

